.Main{
    height: 450px;
    width: 600px;
    background-color: red;
    border: 3px solid black;
}
.a{
    height: 300px;
    width: 600px;
    background-color: red;
}
.b{
    height: 150px;
    width: 600px;
    background-color: white;
    position: absolute;
    top: 160px;
}